.work-experience
{
    padding: 25px;
}

.job-description-textarea {
    height: 300px;
}

.company-logo img {
    height: 300px;
}

.company-logo {
    padding-top: 30px;
}

.remove-btn {
    margin-top: 30px;
}